.social_page {
    @extend %bannerPaddingBottom;

    .section_title {
        text-align: center;
        max-width: 870px;
        margin: 0 auto;
    }

    .head_block img {
        display: block;
        width: 100%;
        max-width: max-content;
        height: 100%;
        aspect-ratio: 428 / 237;
        border-radius: 8px;
        margin: 0 auto 20px;
    }

    .standard_textpage{
        @extend %blockPaddingTop;
    }

    .social_list {
        @extend %blockPaddingTop;
        margin: 0;
        list-style-type: none;
        padding-left: 0;
        margin: 0 -5px;
        width: 100%;

        li {
            padding: 0 5px 8px;
            display: inline-block;
            vertical-align: top;
            width: 100%;

            a {
                text-decoration: underline;
                color: $siteColor;
                @include animStyle(0.3s);
            }

            @media(hover: hover) {
                &:has(a:hover) {
                    a{
                        color: $black;
                    }
                }
            }
        }
    }

    .gallery_section {
        @extend %standardRowList;
        margin-top: 35px;

        li {
            @include standardCol(3);
            margin-bottom: 20px;

            @media(hover: hover) {
                &:has(a:hover) {
                    img {
                        @include transStyle(scale(1.1));
                    }
                }
            }

            a {
                @include overHidden;
                display: block;
            }
        }

        img {
            display: block;
            width: 100%;
            height: auto;
            aspect-ratio: 354 / 196;
            @include animStyle(all 0.3s);
        }
    }
}